.gift-card-form-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd';
}

@media (min-width: 1024px	) {
  .gift-card-form-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'b a'
      'd c';
  }
}

.item-a {
  grid-area: a;
}

.item-b {
  grid-area: b;
}

.item-c {
  grid-area: c;
}

.item-d {
  grid-area: d;
}
