@import url('react-toastify/dist/ReactToastify.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-raleway);
}

.min-h-screen-responsive {
  min-height: 100vh;
  min-height: 100dvh;
}

#home-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  transition-timing-function: linear !important;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none;
  backface-visibility: hidden;
}

/* Cookiebot styles */

.CybotCookiebotDialogBodyButton {
  border-radius: 999px !important;
}
#CybotCookiebotDialogPoweredbyCybot {
  display: none !important;
}

.CookieDeclarationTable {
  word-break: break-word !important;
}

#CookieDeclarationUserStatusLabelConsentId {
  word-break: break-word !important;
}

#CybotCookiebotDialogPoweredByText {
  display: none !important;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 0.85rem;
  width: 0.85rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  border: 0.25rem solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: theme('colors.primary');
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.inspiration-shadow {
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.12)) drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}

:root {
  --toastify-color-error: theme('colors.error');
  --toastify-color-success: theme('colors.primary');
  --toastify-font-family: var(--font-raleway);
  --toastify-text-color-light: theme('colors.text');
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  --save-navbar-padding-top: 100px;
}
